<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Daily Journal</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="blog.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@300&display=swap" rel="stylesheet">


    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <p class="navbar-brand">Give and Take</p>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li id="home"><a href="/homePage">HOME</a></li>
                <li id="about"><a href="/about">ABOUT US</a></li>
                <li id="Take"><a href="/home">TAKE BOOK</a></li>
                <li id="Donate"><a href="/compose">DONATE</a></li>
                <li id="contact"><a href="/contact">CONTACT US</a></li>
            </ul>
        </div>
    </nav>


    <body style="margin-bottom: 60px;">
        <div class="container">