<%- include('partials/header') %>
    <!DOCTYPE html>
    <html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <title>About Us</title>
        <!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;900&family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">

        <!-- CSS stylesheet -->
        <link rel="stylesheet" href="css/about_uss.css">

        <!-- Font awesome -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    </head>

    <body>
        <div class="container-fluid">
            <h1>About Us!</h1>
            <p class="title_para">
                <br>We at Give & Take foster the exchange of ideas through books.
                <br>We encourge each and everyone of you to collaborate your ideas in <br> the form of donating and exchanging books.
                <br> It not only encourges others to donate but also help needy one's to come <br> forward and take help of the community <br> in which we are proud of.

            </p>

        </div>
        <div class="team">
            <h3>About Team -> Local Host 3000</h3>
            <p class="team_cls">
                We are fun loving human beings <br>comprised of 4 members.
                <br><br> Our Team members includes :-
                <br><br>Abhishek Goyal
                <br>Anchal
                <br>Aaushman Parth
                <br>Jatinder Kaur
            </p>
        </div>
        <footer id="foot">
            <h2>Join Our Discord Server to know us better!</h2>
            <a href="https://discord.gg/k9zj6fKb" class="icon"><i class="social-icons fab fa-discord"></i></a>

            <p class="footer">© Copyright 2021 Give&Take</p>
        </footer>
    </body>

    </html>